asn1crypto==1.5.1
dotenv==0.9.9
pg8000==1.31.2
pyTelegramBotAPI==4.26.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
scramp==1.4.5
setuptools==75.8.0
six==1.17.0
SQLAlchemy==2.0.39
telebot==0.0.5
typing_extensions==4.12.2
wheel==0.45.1